<h1>Send OTP to 2nd factor authenticator</h1>
<pre>
tfa_server_uri = <%= Rails.application.config.tfa_server_uri %>
corp_id = <%= Rails.application.config.corp_id %>
corp_key = <%= Rails.application.config.corp_key %>
</pre>
<form method="post" action="/users/secondauth.json">
  email<br>
  <input type="text" name="email" value="alice@corp.com"><br>
  otp<br>
  <input type="text" name="otp" size="200"><br>
  <input type="submit">
</form>
